version: "3.9"
services:
    node-a:
        image: node-image
        container_name: node-a
        ports: 
        - "5001:8080"
        build:
            context: ./Distribute_System_From_Scratch
            dockerfile: ./Dockerfile
        environment:
            ASPNETCORE_URLS: http://0.0.0.0:8080
            NODE_ID: A
            HTTP_PORT: 8080
            DATA_DIR: /data
            PEERS: http://node-b:8080,http://node-c:8080
        volumes:
            - data-a:/data

    node-b:
        image: node-image
        container_name: node-b
        ports:
          - "5002:8080"
        build:
            context: ./Distribute_System_From_Scratch
            dockerfile: ./Dockerfile
        environment:
          ASPNETCORE_URLS: http://0.0.0.0:8080
          NODE_ID: B
          HTTP_PORT: 8080
          DATA_DIR: /data
          PEERS: http://node-a:8080,http://node-c:8080
        volumes:
          - data-b:/data

    node-c:
        image: node-image
        container_name: node-c
        ports:
          - "5003:8080"
        build:
            context: ./Distribute_System_From_Scratch
            dockerfile: ./Dockerfile
        environment:
          ASPNETCORE_URLS: http://0.0.0.0:8080
          NODE_ID: C
          HTTP_PORT: 8080
          DATA_DIR: /data
          PEERS: http://node-a:8080,http://node-b:8080
        volumes:
          - data-c:/data
volumes:
  data-a:
  data-b:
  data-c: